@tailwind base;
@tailwind components;
@tailwind utilities;

#notification-box {
	opacity: 0;
	transition: 0.3s ease-in-out;
	bottom: 120px;
  transform: translateY(0px);
}

#notification-box.open {
	opacity: 1;
  transform: translateY(-10px);
	transition: 0.3s ease-in-out;
}

.popup-box {
	opacity: 1;
	transition: 0.3s ease-in-out;
	bottom: 120px;
  transform: translateY(0px);
}

.popup-box.open {
	opacity: 1;
  transform: translateY(-10px);
	transition: 0.3s ease-in-out;
}
