@tailwind base;
@tailwind components;
@tailwind utilities;

#notification-box {
	opacity: 0;
	transition: 0.3s ease-in-out;
	bottom: 120px;
  transform: translateY(0px);
}

#notification-box.open {
	opacity: 1;
  transform: translateY(-10px);
	transition: 0.3s ease-in-out;
}

.popup-box {
	opacity: 0;
	transition: 0.3s ease-in-out;
	bottom: 0px;
  transform: translateY(100%);
	width: 100%;
}

.popup-box.active {
	opacity: 1;
  transform: translateY(0px);
	transition: 0.3s ease-in-out;
}

@media (min-width: 768px) {
	.popup-box {
		bottom: 120px;
		max-width: 360px;
		transform: translateY(0px);
	}

	.popup-box.active {
		transform: translateY(-10px);
	}
}

:checked + label {
	background: #DE3A40;
	color: white;
}

:checked + label path {
	fill: white;
}