@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	transition: 0.3s ease;
}

#notification-box {
	opacity: 0;
	transition: 0.3s ease-in-out;
	bottom: 80px;
  transform: translateY(0px);
}

#notification-box.open {
	opacity: 1;
  transform: translateY(-10px);
	transition: 0.3s ease-in-out;
}

.popup-box {
	opacity: 0;
	transition: 0.3s ease-in-out;
	bottom: 0px;
	transform: translateY(100%);
	width: 100%;
	pointer-events: none;
}

.popup-box.active {
	opacity: 1;
	transform: translateY(0px);
	pointer-events: all;
	transition: 0.3s ease-in-out;
}

@media (min-width: 768px) {
	.popup-box {
		bottom: 80px;
		max-width: 360px;
		transform: translateY(0px);
	}

	.popup-box.active {
		transform: translateY(-10px);
	}
}

:checked + label {
	@apply bg-red-600;
	color: white;
}

#dimmer {
	@apply w-screen h-screen absolute top-0 left-0 transition-all duration-300;
	z-index: 15;
	transition: 0.3s ease-in-out;
	opacity: 0;
	background: rgba(0,0,0,0.8);
	pointer-events: none;
}

#dimmer.active {
	@apply flex transition-all duration-300 opacity-100;
	z-index: 15;
	transition: 0.3s ease-in-out;
	pointer-events: all;
}

:checked + label path {
	fill: white;
}

:checked + label svg {
	transform: rotate(45deg);
}